<%- include("partials/header.ejs") %>

<h1>List of Doctors</h1>

<table class="doctors-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Specialization</th>
            <th>Availability</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        <% doctors.forEach(doctor => { %>
            <tr>
                <td><%= doctor.name %></td>
                <td><%= doctor.specialization %></td>
                <td><%= doctor.availability %></td>
                <td>
                    <form action="/delete-doctor" method="post">

                        <input type="hidden" name="hiddenId" value="<%= doctor.doctorId %>"></input>
                        <button type="submit" class="delete-btn">X</button>
                    </form>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>

<%- include("partials/footer.ejs") %>
